<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Github iOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
				<key>dateExpires</key>
				<string>22.09.2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppDistribution.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImageSVGCoder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVGKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TinyConstraints.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0ADE3B794AE7390A23C931E8176249462F1B023C</string>
						<key>dateExpires</key>
						<string>22.09.2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H6H5489H9H</string>
						<key>name</key>
						<string>Numan Ayhan (Individual)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H6H5489H9H.com.numanayhan.Github-iOS</string>
				<key>com.apple.developer.team-identifier</key>
				<string>H6H5489H9H</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>H6H5489H9H.com.numanayhan.Github-iOS</string>
				</array>
			</dict>
			<key>name</key>
			<string>Github iOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>41ca774b-a600-4897-977c-457dc4a5b1c7</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H6H5489H9H</string>
				<key>name</key>
				<string>Numan Ayhan (Individual)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
