<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068528716880-koq76gbofnltaovh5hfvgabm4dqa4fcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068528716880-koq76gbofnltaovh5hfvgabm4dqa4fcd</string>
	<key>API_KEY</key>
	<string>AIzaSyBdkUPT4a1cGGnjB1NnkkxMz0rF3cBDGsc</string>
	<key>GCM_SENDER_ID</key>
	<string>1068528716880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.numanayhan.Github-iOS</string>
	<key>PROJECT_ID</key>
	<string>github-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>github-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068528716880:ios:5fc491e4d05596ad959555</string>
</dict>
</plist>